*{
    background-color:aliceblue;
    font-family: 'Roboto', sans-serif;
}

.navegacion{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.list-container {
    display: flex;
    flex-direction: row;
}

.list-container li{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    padding: 5px;
    margin: 2px;
    font-weight: bold;
    font-size: 1.5rem;;
    
}

h1{
    
    font-weight: bold;
    font-size: 3rem;
}

h2{

    font-weight: bold;
    font-size: 2rem;
}
.logo{
    display:grid;
    grid-template-columns: 40% 40%;
   justify-content: center;
   gap: wrap;
}

.logo img{
    
    width:30rem;
    height: 30rem;
}


p{
   
    font-size:1.5rem;
}

input{
    font-family: 'Roboto', sans;
    font-size:1.2rem;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}




@media (max-width:680px){
  *{
    background-color:rgba(186, 149, 190, 0.185);

   }

   .logo img{
   width:10rem;
    height:12rem;
   }

   p{
    font-size: 1rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
   }

   .list-container{
    display: flex;
    flex-direction: column;
   
}




}